/*--Fonts--*/
/* font-family: 'Anton', sans-serif;
font-family: 'Questrial', sans-serif; */

/* Global Styles */
html {
  overflow-x: hidden;
}

body {
  color: black;
  font-family: "Questrial", sans-serif;
  max-width: 100%;
}

footer {
  background-color: #003399;
  margin-top: 0%;
  max-width: 100%;
}

.navbar {
  background-color: #003399 !important;
  color: white !important;
  border: 5%;
  padding-right: 3%;
  text-shadow: 1px 2px 1px #000;
}

.nav-link {
  color: white !important;
  font-size: 109.5%;
}

.nav-link:hover {
  color: #f6a800 !important;
}

/* Title display text */
/* .Colusa, */
.CBIC {
  font-family: "Anton", sans-serif;
  text-shadow: 1px 2px #000;
  letter-spacing: 20px;
  font-size: 6vw;
}
/* 
.Colusa {
  font-size: 5vw;
} */

/* .CBIC {
  font-size: 4.5vw;
} */

.title-box {
  background-color: #003399;
  text-align: left;
  justify-content: center;
}

.title {
  justify-content: center;
  color: white;
  padding-left: 15%;
  padding-top: 5%;
}

.menu-button {
  color: white;
  /* background-color: #003399; */
  font-size: 1.8vw;
  position: absolute;
  justify-content: end;
  text-align: end;
  /* z-index: 10; */
  float: right;
  bottom: 0;
  right: 0;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  text-shadow: 1px 2px #000;
  min-width: 150px;
  max-width: 200px;
  /* media query breakpoint is 790to flip menu down and to make clickable */
}

.menu-button:hover {
  color: #f6a800;
  text-decoration: none;
  background-color: #003399;
}

.dropdown-item {
  text-shadow: none;
}
/* homepage large display conatainers */
/* .lg-homepage-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* homepage large display text */
.lg-homepage-text {
  padding: 0;
  text-align: center;
  font-size: 3vw;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}

/* homepage large display images */
/* .homepage-img {
  max-width: 100%;
  height: auto;
  filter: brightness(65%); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

/* homepage learn more links   */
.learn-more-link {
  /* z-index: 10; */
  text-align: center;
  font-size: 1.8vw;
  /* bottom:30%; */
  /* position: absolute; */
  /* top: 88%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  background-color: #003399;
  color: white;
  border-radius: 10px;
  padding: 0.5%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
}

.learn-more-link:hover {
  /* color: #f6a800; */
  color: #003399;
}
/* #img-2,
#img-3 {
  max-width: 100%;
  height: auto;
  filter: brightness(80%);
} */

/* #warehouse-text {
  padding: 0;
  text-align: center;
  font-size: 3vw;
  z-index: 1;
  position: absolute;
  bottom: 90px;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
} */

/* #link-to-available-space {
  text-align: center;
  font-size: 1.8vw;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  width: fit-content;
  background-color: #003399;
  color: white;
  border-radius: 10px;
  padding: 0.5%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
} */
/* 
#link-to-available-space:hover {
  color: #f6a800;
} */

/* #laptop-text {
  padding: 0;
  text-align: center;
  font-size: 3vw;
  z-index: 1;
  position: absolute;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
  bottom: 90px;
} */
/* 
#link-to-start-ups {
  text-align: center;
  font-size: 1.8vw;
  position: absolute;
  z-index: 1;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: fit-content;
  background-color: #003399;
  color: white;
  border-radius: 10px;
  padding: 0.5%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none !important;
} */

/* #link-to-start-ups:hover {
  color: #f6a800;
} */

/* .hover-dropdown {
  text-align: end;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2%;
  padding-right: 5px;
  max-width: 80%;
}

.hover-dropdown div {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.hover-dropdown:hover div {
  visibility: visible;
  opacity: 1;
  margin-bottom: 50px;
}

/* .hover-dropdown div a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #000;
  transition: 0.1s;
  white-space: nowrap;
} */

/* .hover-dropdown div a:hover {
  background-color: black;
  color: white !important;
} */

/* #diagram {
  text-align: center;
  justify-content: center;
} */

/* homepage <p> text */
.about {
  color: black;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

/* #history,
#facility  */
.about-page-h1 {
  margin-left: 5%;
  margin-top: 3.5%;
  margin-bottom: 0%;
}

/* #sponsors {
  margin: 3.5%;
  margin-left: 5%;
}

#partners {
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 2.5%;
} */

/* #history-text,
#facility-text,
#sponsors-text  */
.about-page-text {
  font-size: calc(0.65rem + 0.8vw);
  margin: 4.5%;
  margin-top: 2%;
  margin-bottom: 0%;
}

.logo {
  margin-right: 2%;
  display: inline-block;
}

.start-up-header {
  margin: 5%;
}

/* #start-up-header-email {
  margin: 3%;
} */

.start-up-text {
  margin: 7%;
  color: black;
  font-size: 1.5rem;
}

/* For CBIC email links */
.email {
  color: white;
  background-color: #003399;
  /* text-decoration: none; */
  padding: 1%;
  border-radius: 5px;
}

.email:hover {
  color: #f6a800;
}

.list {
  color: #000;
  font-size: 1.2rem;
}

.list-1 {
  margin-left: 2%;
  font-size: 1.2rem;
}

#list-header-2,
#list-header-3 {
  margin: 5%;
}

li {
  color: #000;
}

#facility-header {
  font-size: 1.5rem;
}

.use-facility-text {
  font-size: 1.3rem;
  margin: 1.5%;
}

.facility-headings {
  font-size: 1.5rem;
}

#facility-icon {
  -ms-transform: translateY(50%);
  transform: translateY(40%);
}

.available-heading {
  margin: 5%;
}

#available-space-text {
  margin: 5%;
  font-size: calc(1rem + 0.8vw);
}

.available-space-contact {
  font-size: 2rem;
}

.events-text,
.partnerships-text {
  margin: 5%;
  /* color: black; */
  font-size: 1.8rem;
}

/* .partnerships-text {
  font-size: 1.8rem;
  margin: 5%;
} */

/* ***********Flip boxes********* */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  float: left;
  margin: 3% !important;
  background-color: transparent;
  width: 250px;
  height: 250px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  /* position: relative; */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box-2 {
  /* float:left; */
  background-color: transparent;
  width: 549px;
  height: 127px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-2-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-2:hover .flip-box-2-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-box-2-front,
.flip-box-2-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-2-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-box-2-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box-3 {
  /* float:left; */
  background-color: transparent;
  width: 554px;
  height: 215px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-3-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-3:hover .flip-box-3-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-box-3-front,
.flip-box-3-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-3-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-box-3-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}

.press-text {
  margin: 5%;
  font-size: 1.5rem;
}

.sponsors-text {
  margin: 5%;
  font-size: 1.5rem;
}

.footer-top {
  margin-bottom: 0%;
}

form {
  display: inline;
}

.footer-menu {
  margin: 4%;
}

ul {
  color: white;
  list-style-type: none;
}

.footer-link {
  margin: 2%;
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  color: white;
}

#newsletter {
  color: white;
  padding-left: 3%;
  margin: 2%;
}

#contact-info {
  color: white;
  padding-left: 5%;
  text-decoration: underline;
}

.cbic-info,
.social-icons {
  color: white;
  padding-left: 5%;
  text-decoration: none !important;
}

#icons {
  margin: 2%;
  color: white;
}

.cbic-info:hover,
.social-icons:hover {
  color: antiquewhite;
}

.google {
  position: relative;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
  margin: 2%;
  margin-right: 3%;
}

#map-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}

#map {
  color: white;
  margin: 1.5%;
}

.footer-bottom {
  color: white;
  padding-bottom: 0.5%;
}

#tim {
  color: white;
  text-decoration: none !important;
}
