/*--Fonts--*/
/* font-family: 'Anton', sans-serif;
font-family: 'Questrial', sans-serif; */

body {
  font-family: "Questrial", sans-serif;
}

.navbar {
  background-color: #003399 !important;
  color: white !important;
  /* border: 5%; */
  padding-right: 3%;
}

.nav-link {
  color: white !important;
  margin: 0.001%;
}

.nav-link:hover {
  color: #f6a800 !important;
}

#Colusa {
  font-size: 5vw;
}

.CBIC {
  font-size: 4.5vw;
}

#title-box {
  background-color: #003399;
  border: 25px;
  text-align: left;
  justify-content: center;
  height: auto;
}

#title {
  justify-content: center;
  color: white;
  padding-left: 20%;
  padding-top: 5%;
}

#menu {
  color: white;
  text-align: end;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2%;
  padding: 3%;
  /* media query breakpoint is 790to flip menu down and to make clickable */
}

#img-1 {
  max-width: 100%;
  height: auto;
}

#img-2 {
  max-width: 100%;
  height: auto;
}
#img-3 {
  max-width: 100%;
  height: auto;
}

.hover-dropdown {
  text-align: end;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2%;
  padding-right: 5px;
  max-width: 80%;
}

.hover-dropdown div {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.hover-dropdown:hover div {
  visibility: visible;
  opacity: 1;
  margin-bottom: 30px;
}

.hover-dropdown div a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #000;
  transition: 0.1s;
  white-space: nowrap;
}

.hover-dropdown div a:hover {
  background-color: black;
  color: white !important;
}

#about {
  font-size: 1.5rem;
  margin: 5%;
}

footer {
  background-color: #003399;
  margin-top: 2%;
}

.footer-top {
  margin-bottom: 1%;
}

form {
  display: inline;
}

.footer-menu {
  margin: 4%;
}

ul {
  color: white;
  list-style-type: none;
}

.footer-link {
  margin: 2%;
}

a {
  color: white;
}

a:hover {
  color: white;
}

#newsletter {
  color: white;
  padding-left: 3%;
  margin: 2%;
}

#contact-info {
  color: white;
  padding-left: 5%;
  text-decoration: underline;
}

.cbic-info,
.social-icons {
  color: white;
  padding-left: 5%;
}

#icons {
  margin: 2%;
  color: white;
}

.cbic-info:hover,
.social-icons:hover {
  color: antiquewhite;
}

.google {
  position: relative;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
  margin: 2%;
  margin-right: 3%;
}

#map-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}

#map {
  color: white;
  margin: 1.5%;
}

.footer-bottom {
  color: white;
  padding-bottom: 0.5%;
}

#tim {
  color: white;
}
